@tailwind base;
@tailwind components;
@tailwind utilities;

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


@layer base {
    @font-face {
        font-family: "River Adventurer";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(assets/River.ttf) format("ttf");
    }

    @font-face {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
    }
}

body {
    @apply bg-[url("./assets/hero.jpg")] bg-cover bg-black/50 bg-blend-overlay;
}
